.HomeBg {
  background-image: url(./assets/Images/bg_pic_home_page_mobile.png);
  background-size: cover;
  background-position: center;
}
.ProfileBg {
  background-image: url(./assets/Images/Main_modal_profile_page_mobile.png);
  background-size: cover;
  background-position: center;
}
.Richdatabg {
  background-image: url(./assets/Images/RichDatabg.jpg);
  background-size: cover;
  background-position: center;
}
.MobileRichBg {
  background-image: url(/src/assets/Images/bg_pic_Rich_data_mobile.png);
  background-size: cover;
  background-position: center;
}
.formPageDekstop {
  background-image: url(./assets/Images/bg_pic_Form_page_dekstop.png);
  background-size: cover;
  background-position: center;
}
.bg_Yespage {
  background: rgb(255, 92, 92);
  background: linear-gradient(
    90deg,
    rgba(255, 92, 92, 1) 0%,
    rgba(208, 48, 97, 1) 100%
  );
}

.form_bg {
  background-image: url(./assets/Images/bg_pic_Form_Page_mobile.png);
  background-size: cover;
  background-position: center;
}
.formtwo {
  /* background-color: #e59087; */
  background-image: url(./assets/Images/FormPage_BtoC.png);
  background-size: cover;
  background-position: center;
}
.formHeaderText {
  color: #514141;
}
.NoPageBG {
  background: rgb(249, 249, 249);
  background: linear-gradient(
    90deg,
    rgba(255, 160, 199) 0%,
    rgba(244, 74, 130) 100%
  );
}

.formBtoC_mob {
  background-image: url(./assets/Images/Formpage_single_customer_mobile.png);
  background-size: cover;
  background-position: center;
}
.NoPageMobile{
  background-image: url(./assets/Images/bg_pic_No_page_mobile.png);
  background-size: cover;
  background-position: center;

}
